/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
margin-bottom: 0;
border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
padding-top: 20px;
background-color: #f1f1f1;
height: 100%;
}

/* Set black background color, white text and some padding */
footer {
background-color: #555;
color: white;
padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}
.row.content {height:auto;}
}


h3 {
font-size: 18px;
text-align: center
}
h4 {
font-size: 18px;
}

.icon-bad {
    color: red;
}
.icon-good {
    color: #5CB85C;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;
    color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    float: right;
}
.accordion-toggle:hover {
    text-decoration: none;
}
.panel .panel-heading {
    font-family: verdana;
    border-radius:0;
    padding: 0px;

}
.panel .panel-heading a{
    display:block;
    background: rgb(255, 193, 59);
    color: white;
    padding:5px 10px 5px 10px;
    border-radius:0px;
    text-decoration:none;
    font-size: 12px;

}
.panel .panel-heading a:hover {
    background: rgb(247, 169, 2);
    color: white;
    text-decoration:none;
}
#accordion .highlight a{
    background:rgb(255, 193, 59);/* change colour of selected bar here if needed */
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    color:white;
    transition:background 2s ease;
}
.panel-body {
    font-size: 12px;
    padding:5px 10px;
}
.table td {
   text-align: left;
   font-size: 12px;
   background: white;
}
